body {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


.img-celular {
    width: 450px;
}

.container {
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 40px;
}


input {
    height: 36px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-top: 10px;
}

button {
    background-color: #0095f6;
    opacity: .7;
    border-radius: 8px;
    color: #ffffff;
    border: none;
    padding: 7px 16px;
    margin-top: 20px;
    cursor: pointer;
}

.facebook {
    text-align: center;
    color: #385185;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.esqueceu-senha {
    text-align: center;
    color: #385185;
    margin-top: 12px;
    cursor: pointer;
    font-size: 12px;
}

.imagens {
    position: relative;
}

.img-insta {
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: 2s ease-in-out;
}